/* Geral */
body {
    color: rgb(173, 26, 161);
    background: black;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    padding-bottom: 60px; /* Ajuste conforme necessário */
}

header {
    border-bottom: solid 2px rgb(59, 21, 99);
    padding: 20px;
    font-size: 32px;
    color: rgb(59, 21, 99);
    text-align: center;
}

h1 {
    margin: 0;
}

.chamada {
    background: rgb(59, 21, 99);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.chamada-texto h2 {
    font-size: 36px;
    margin: 0;
}

.chamada-texto p {
    font-size: 20px;
}

.video-container {
    margin-top: 20px;
}

.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(59, 21, 99);
    text-align: center;
    margin-bottom: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.categoria-videos img {
    opacity: 0.8;
    height: 200px;
    transition: opacity 0.3s ease, border 0.3s ease;
    border-radius: 8px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(56, 56, 56);
}

footer {
    background: rgb(59, 21, 99);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .chamada-texto h2 {
        font-size: 28px;
    }

    .chamada-texto p {
        font-size: 18px;
    }

    .categoria-videos img {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .chamada-texto h2 {
        font-size: 24px;
    }

    .chamada-texto p {
        font-size: 16px;
    }

    .categoria-videos {
        flex-direction: column;
        align-items: center;
    }

    .categoria-videos img {
        width: 100%;
        height: auto;
    }
}
