body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    padding-bottom: 100px; /* Alterado de margin-bottom para padding-bottom */
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
    text-align: center; /* Centraliza o texto do header */
}

.chamada {
    background: rgb(184, 156, 213);
    padding: 80px 20px; /* Ajusta o padding para um espaçamento consistente */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo na coluna para melhor controle */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dentro da chamada */
}

.chamada-texto {
    margin-bottom: 20px; /* Adiciona espaço entre o texto e o vídeo */
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0; /* Adiciona um pouco de padding ao redor dos vídeos */
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 8px; /* Adiciona bordas arredondadas nas imagens */
    transition: all 0.3s ease; /* Suaviza a transição do hover */
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
    text-align: center; /* Centraliza o título da categoria */
}

footer {
    background: rgb(42, 122, 228);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed; /* Mantém o rodapé na parte inferior da página */
    bottom: 0;
    width: 100%;
}
